/* Styles for the container */
#about_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Center the heading */
.about-heading {
  text-align: center;
  font-family: 'YourPreferredFont', sans-serif; /* Replace 'YourPreferredFont' with your desired font-family */
}

/* Style the 'Us' in 'About Us' */
.about-heading span {
  color: #fa7436; /* Orange color */
}

/* Style the travel image */
.about-image {
  float: left;
  height: auto;
  width: 35%;
}

/* Style the paragraph text */
.about-text {
  text-align: justify;
  width: 550px;
  
}

.about-text p {
  color: var(--blood-red);
  letter-spacing: 2px;
  line-height: 15px;
  font-size: 1.5rem;
}

/* Clear floating elements */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
