body {
    font-family: 'Arial', sans-serif; /* Use your preferred font-family */
    background-color: #fa7436; /* Set the background color for the page */
  }
  
  /* Styles for the login container */
  #login_form {
    max-width: 300px;
    margin: 0 auto;
    padding: 18px;
    background-color: #ff6f0019; 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    z-index: 1;
  }
  
  /* Styles for the form elements */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #fa7436; /* Set button background color */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f85c00; /* Darker color on hover */
  }
  
  /* Error message style */
  div[style*='color: red'] {
    color: red;
  }