.p-6 {
    padding: 1.5rem;
  }
  
  .dark:text-gray-100 {
    color: #f6f6f6;
  }
  
  .container {
    width: 100%;
  }
  
  .max-w-xl {
    max-width: 36rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .space-y-6 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1.5rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .dark:bg-gray-900 {
    background-color: #e782fb;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .ml-1 {
    margin-left: 0.25rem;
  }
  
  .block {
    display: block;
  }
  
  .w-full {
    width: 100%;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .focus\:ring:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .dark:bg-gray-800 {
    background-color: #2d3748;
  }
  
  .dark:bg-violet-400 {
    background-color: #fa7436;
  }
  
  .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .focus\:ring:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .hover\:ring:hover {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }  
  .dark:text-gray-900 {
    color: #2d3748;
  }
  