
.header-content--left {
    display: grid;
    grid-auto-flow: column;
    inline-size: max-content;
    place-content: center;
}

.brand-logo {
    gap: var(--space-05);
    padding: 0.25em 0.75em;
    align-items: center;
    display: inline-flex;
    justify-self: start; 

}

.brand-logo > svg {
    fill: var(--brand-clr);
}

.logo-text {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 500;
}

/* Custom CSS */
.text-orange-600 {
    color: #fa7436; /* Orange color */
  }
  .border-orange-600 {
    border-color: #fa7436; /* Orange color */
  }
  
